<!-- views/createStory.ejs -->
<div class="content" id="content">
    <form id="createStoryForm" class="create-story-form" method="POST" action="<%= story ? '/editStory/' + story.id : '/createStory' %>">
        <div>
            <label for="storyTitle">Title</label>
            <input type="text" id="storyTitle" name="title" value="<%= story ? story.title : '' %>" required>
        </div>
        <div>
            <label for="storyContent">Content</label>
            <textarea id="storyContent" name="content" rows="10" required><%= story ? story.content : '' %></textarea>
        </div>
        <div>
            <button type="submit"><%= story ? 'Update Story' : 'Submit' %></button>
        </div>
    </form>
</div>