/* Show Stories Styles */
.story-box {
    display: block;
    background-color: #333;
    border: 5px solid #444;
    border-radius: 10px;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
    color: inherit;
    margin-bottom: 20px;
    position: relative;
    padding: 10px;
}

.story-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.7);
}

.story-title {
    font-size: 20px;
    color: #fff;
    margin: 10px 5px 5px;
}

.story-content {
    font-size: 16px;
    color: #bbb;
    margin: 5px;
}

.no-stories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.no-stories-message {
    text-align: center;
    font-size: 18px;
    color: #bbb;
}

.star-rating .fa-star {
    color: gold;
}

.close-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    color: red;
    cursor: pointer;
    font-size: 24px; /* Increase the font size */
}